@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


$base:  hsl(0, 36%, 70%);
$accent: hsl(0, 93%, 68%);
$neutral: hsl(0, 6%, 24%);
$colorgrad: linear(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$lightgrad: linear(135deg,  hsl(0, 0%, 100%), hsl(0, 100%, 98%));
//typography
$font: 'Josefin Sans', sans-serif;
$bold: 600;
$mid: 400;
$light: 300;


*{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin-top: 0;
}

header{
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    width: calc(100vw - 24.5px);
    min-width: 300px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: $lightgrad;
}

.hero-image img{
    width: 100%;
    object-fit: fill;
}

.hero-content .logo{
    position: relative;
    top: 50px;
    left: 15%;
}

.hero-content .content{
    position: relative;
    top: 150px;
    left: 15%;
}

.hero-content .content h1{
    font-family: $font;
    font-size: 4rem;
    color: $neutral;
    font-weight: $mid;
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: 1.2rem;

}

.hero-content .content h1 span{
    font-weight: $light;
    color: $base;
    text-transform: uppercase;
    font-size: 4rem;
}

.hero-content .content p{
    max-width: 22rem;
    font-family: $font;
    font-size: .8rem;
    font-weight: $mid;
    color: $base;
    overflow-wrap: break-word;
    line-height: 2;
    position: relative;
    bottom: 30px;

}

