@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


$base:  hsl(0, 36%, 70%);
$accent: hsl(0, 93%, 68%);
$neutral: hsl(0, 6%, 24%);
$lightneutral: lighten($neutral, 5%);
$lightenaccent: lighten($accent, 20%);
$colorgrad: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$lightgrad: linear-gradinet(135deg,  hsl(0, 0%, 100%), hsl(0, 100%, 98%));
//typography
$font: 'Josefin Sans', sans-serif;
$bold: 600;
$mid: 400;
$light: 300;


*{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin-top: 0;
}

header{
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    width: calc(100vw - 24.5px);
    min-width: 300px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: $lightgrad;
}

.hero-image img{
    width: 100%;
    object-fit: fill;
}

.hero-content .logo{
    position: relative;
    top: 50px;
    left: 15%;
}

.hero-content .content{
    position: relative;
    top: 150px;
    left: 15%;
}

.hero-content .content h1{
    font-family: $font;
    font-size: 4rem;
    color: $neutral;
    font-weight: $mid;
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: 1.2rem;

}

.hero-content .content h1 span{
    font-weight: $light;
    color: $base;
    text-transform: uppercase;
    font-size: 4rem;
}

.hero-content .content p{
    max-width: 22rem;
    font-family: $font;
    font-size: .8rem;
    font-weight: $mid;
    color: $base;
    overflow-wrap: break-word;
    line-height: 2;
    position: relative;
    bottom: 30px;
}


// .hero-content .content form span input{
//     width: 350px;
//     height: 50px;
//     padding-left: 5px;
//     padding-right: 5px;
//     border: thin solid $neutral;
//     border-radius: 40px;
// }

// .hero-content .content form span input:focus{
//     outline: none;
// }

// .hero-content .content form button{
//     width: 100px;
//     height: 50px;
//     background: $colorgrad;
//     border-radius: 40px;
//     border: none;
//     cursor: pointer;
//     position: relative;
//     top: 3px;
//     right: 100px;
// }

// .hero-content .content form button:hover{
//     background: $lightenaccent;
// }


// .hero-content .content form .form-control.error input{
//     border-color: red;
// }

// .hero-content .content form .form-control img{
//     position: relative;
//     right: 110px;
//     top: 4px;
//     visibility: hidden;
// }

// .hero-content .content form .form-control.error img{
//     visibility: visible;
// }




.form-control{
    width: 100%;
    height: 500px;
    position: relative;
}

.form-control input{
    width:  350px;
    height: 50px;
    border-radius: 40px;
    border-color: $neutral;
    border: thin solid;
    padding-left: 10px;
}


.form-control img{
    position: absolute;
    right: 150px;
    margin-top: 15px;
}


.form-control small{
    position: relative;
    top: 50px;
    right: 330px;
    color: $accent;
    font-size: .8rem;
}


form button{
    position: relative;
    right: 130px;
    top: 3px;
    width: 100px;
    height: 50px;
    background: $colorgrad;
    border: none;
    border-radius: 50px;
}



